:root {
    --primaryGreen: #4c8971;
    --secondaryGreen: #8fa89e;
    --headingYellow: #ab9155;
    --selectYellow: #f7ce6f;
    --white: #FFFFFF;
    --black: #000000;
    --facebookBlue: #4267B2;
    --instagramPink: #f00075; /* (official Wordpress coloring) Source: https://wordpress.com/support/wordpress-editor/blocks/social-icons-block/ */
    --linkedinBlue: #0072b1;
    --githubBlack: #171515;
}

@media (max-width: 576px) {
    #title_profile_container {
        top: -10px;
        margin-bottom: -45px;
    } 
    
    #title_profile_wrapper {
        padding-top: -30px;
    }
    
    #profile_container {
        width: 140px;
        height: 140px;
        top: 30px;
    }    
}

@media (min-width: 576px) and (max-width: 768px) {
    #title_profile_container {
        top: -10px;
        margin-bottom: -50px;
    } 
    
    #title_profile_wrapper {
        padding-top: -40px;
    }
    
    #profile_container {
        width: 180px;
        height: 180px;
        top: 40px;
    }
}

/* Defining for specifically the about header */
.about-header {
    text-align: center;
    margin-top: -10px;
}
.about-header .about-box {
    align-items: center;
    justify-content: space-between;
}

.about-header .intro-text {
    text-align: left;
    padding-bottom: 20px;
}

.about-header .intro-text h1 {
    font-size: 70px;
    margin: 0px;
    line-height: 1;
}

.about-header .intro-text h2 {
    color: var(--black);
    font-size: 55px;
    line-height: 1;
    margin: 0px;
}

.about-header .intro-text p {
    font-size: 35px;
    margin: 0px;
    line-height: 1.1;
}

.about-header .intro-image img {
    padding-top: 0px;
    width: 100%;
    border: .4rem solid;
    border-color: var(--secondaryGreen);
    border-radius: 2.5%;
}

.content_box .header {
    margin-top: 15px;
}

@media (min-width: 576px) {
    .about-header .intro-text {
        text-align: left;
        padding-bottom: 20px;
    }

    .about-header .intro-text h1 {
        font-size: 85px;
        margin: 0px;
        line-height: 1;
    }

    .about-header .intro-text h2 {
        color: var(--black);
        font-size: 70px;
        line-height: 1;
        margin: 0px;
    }

    .about-header .intro-text p {
        font-size: 52px;
        margin: 0px;
        line-height: 1.1;
    }

    /* Defining for specifically the about box */
    .content_box .container-fluid .row {
        padding-left: 12px;
        padding-right: 12px;
    }

    .content_box .header {
        font-size: 30px;
        padding-left: 12px;
    }

    #about_box .container-fluid {
        padding-top: 35px;
        padding-left: 34px;
        padding-right: 34px;
    }


    /* Defining for specifically the about header */

    /* Defining for specifically the about box */
}
@media (min-width: 768px) {
    #title_profile_wrapper {
        margin-bottom: -170px;
    }

    .about-header .about-box {
        flex-direction: row;
    }

    .about-header .intro-text {
        text-align: right;
        padding-left: 0px;
        padding-right: 30px;
        padding-bottom: 8px;
    }

    .about-header .intro-text h1 {
        font-size: 80px;
        margin: 0px;
        line-height: 1;
    }

    .about-header .intro-text h2 {
        color: var(--black);
        font-size: 47px;
        line-height: 1;
        margin: 0px;
    }

    .about-header .intro-text p {
        font-size: 36px;
        margin: 0px;
        line-height: 1.1;
    }

    .about-header .intro-image img {
        padding-top: 0px;
        width: 100%;
        border: .4rem solid;
        border-color: var(--secondaryGreen);
        border-radius: 2.5%;
    }

    /* Defining for specifically the about box */
    .content_box .container-fluid .row {
        padding-left: 12px;
        padding-right: 12px;
    }

    .content_box .header {
        font-size: 40px;
        padding-left: 12px;
    }

    #about_box .container-fluid {
        padding-top: 35px;
        padding-left: 34px;
        padding-right: 34px;
    }

}
@media (min-width: 992px) {
    #title_profile_wrapper {
        margin-bottom: -205px;
    }

    /* Defining for specifically the about header */
    .about-header .intro-text {
        text-align: right;
        padding-right: 30px;
        padding-bottom: 6px;
        /* padding-top: 4px; */
    }

    .about-header .intro-text h1 {
        font-size: 98px;
        margin: 0px;
        line-height: 1;
    }

    .about-header .intro-text h2 {
        color: var(--black);
        font-size: 62px;
        line-height: 1;
        margin: 0px;
    }

    .about-header .intro-text p {
        font-size: 52px;
        margin: 0px;
        line-height: 1.1;
    }

    .about-header .intro-image img {
        padding-top: 0px;
        width: 100%;
        border: .4rem solid;
        border-color: var(--secondaryGreen);
        border-radius: 2.5%;
    }

    /* Defining for specifically the about box */
    .content_box .container-fluid .row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .content_box .header {
        font-size: 45px;
        padding-left: 12px;
    }

    #about_box .container-fluid {
        padding-top: 35px;
        padding-left: 34px;
        padding-right: 34px;
    }

}
@media (min-width: 1200px) {
    #title_profile_wrapper {
        margin-bottom: -215px;
    }

    /* Defining for specifically the about header */
    .about-header .intro-text {
        text-align: right;
        padding-right: 75px;
        padding-bottom: 10px;
    }

    .about-header .intro-text h1 {
        font-size: 112px;
        margin: 0px;
        line-height: 1;
    }

    .about-header .intro-text h2 {
        color: var(--black);
        font-size: 72px;
        line-height: 1;
        margin: 0px;
    }

    .about-header .intro-text p {
        font-size: 57px;
        margin: 0px;
        line-height: 1.1;
    }

    .about-header .intro-image img {
        padding-top: 0px;
        width: 100%;
        border: .4rem solid;
        border-color: var(--secondaryGreen);
        border-radius: 2.5%;
    }

    /* Defining for specifically the about box */
    .content_box .header {
        font-size: 48px;
    }

    #about_box .container-fluid {
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media (min-width: 1400px) {
    #title_profile_wrapper {
        margin-bottom: -210px;
    }

    /* Defining for specifically the about header */
    .about-header .intro-text {
        text-align: right;
        padding-right: 130px;
        padding-bottom: 15px;
    }

    .about-header .intro-text h1 {
        font-size: 140px;
        margin: 0px;
        line-height: 1;
    }

    .about-header .intro-text h2 {
        color: var(--black);
        font-size: 90px;
        line-height: 1;
        margin: 0px;
    }

    .about-header .intro-text p {
        font-size: 63px;
        margin: 0px;
        line-height: 1.1;
    }

    .about-header .intro-image img {
        padding-top: 0px;
        width: 100%;
        border: .4rem solid;
        border-color: var(--secondaryGreen);
        border-radius: 2.5%;
    }

    /* Defining for specifically the about box */
    .content_box .header {
        font-size: 53px;
    }

    #about_box .container-fluid {
        padding-top: 50px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
