:root {
    --primaryGreen: #4c8971;
    --secondaryGreen: #8fa89e;
    --headingYellow: #ab9155;
    --selectYellow: #f7ce6f;
    --white: #FFFFFF;
    --black: #000000;
    --facebookBlue: #4267B2;
    --instagramPink: #f00075; /* (official Wordpress coloring) Source: https://wordpress.com/support/wordpress-editor/blocks/social-icons-block/ */
    --linkedinBlue: #0072b1;
    --githubBlack: #171515;
}

@media (min-width: 576px) {
    /* Defining for specifically the about header */

    /* Defining for specifically the about box */
}
@media (min-width: 768px) {
    #contact_line {
        font-size: 66.6px;
    }

    /* Defining for specifically the about header */

    /* Defining for specifically the about box */
    #about_box .container-fluid {
        padding-top: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }

}
@media (min-width: 992px) {
    #contact_line {
        font-size: 81.5px;
    }

    /* Defining for specifically the contact box */
    .content_box {
        padding: 0px;
    }

    .content_box .container-fluid {
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    .grey-half {
        width: calc(50% - 125px);
        background-color: grey;
        border-radius: 30px 0 0 30px;
    }
    /* .grey-half .h1 {
        position: absolute;
        left: 30px;
    } */
    .green-half {
        width: calc(50% + 125px);
        border-left: 250px solid gray;
        border-bottom: 400px solid var(--secondaryGreen);
        border-radius: 0 30px 30px 0;
    }
    /* .green-half .h1 {
        position: absolute;
        left: 30px;
    } */

    .grey-green-content {
        position: relative;
    }
    .grey-green-content .left-half {
        position: relative;
    }
    .grey-green-content .right-half {
        position: relative;
    }


    .content_box .header {
        font-size: 45px;
        padding-left: 12px;
    }

    #about_box .container-fluid {
        padding-top: 35px;
        padding-left: 34px;
        padding-right: 34px;
    }

}
@media (min-width: 1200px) {
    #contact_line {
        font-size: 87px;
    }

    .grey-half {
        width: calc(50% - 175px);
    }
    
    .green-half {
        width: calc(50% + 175px);
        border-left: 350px solid gray;
    }
}


@media (min-width: 1400px) {

    /* Defining for specifically the about box */
    .content_box .header {
        font-size: 53px;
    }

    .grey-half {
        width: calc(50% - 225px);
    }
    
    .green-half {
        width: calc(50% + 225px);
        border-left: 450px solid gray;
    }
}
