/*** Styling for Experience page ***/
.experience_image {
    width: 100%;
}

.experience_text {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.experience_text p{
    color: var(--white);
    padding-top: 70px;
}

@media (min-width: 576px) {
    #experience_line {
        font-size: 15px;
    }

    /* Defining for specifically the work experience box */
    #garmin_title {
        padding-top: 60px;
    }
    #consumers_title {
        padding-top: 103px;
    }    
}
@media (min-width: 768px) {
    #experience_line {
        font-size: 65.1px;
    }

    /* Defining for specifically the work experience box */
    #experience_box .container-fluid .top_row {
        padding-top: 15px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    #experience_box #garmin_title {
        padding-top: 8px;
    }
    #experience_box #consumers_title {
        padding-top: 35px;
    }
}
@media (min-width: 992px) {
    #experience_line {
        font-size: 79.5px;
    }

    /* Defining for specifically the work experience box */
    #experience_box .container-fluid {
        padding-left: 34px;
        padding-right: 34px;
    }
    #experience_box .container-fluid .row .exp_image_col {
        padding-right: 17px;
    }
    #experience_box .container-fluid .row .exp_text_col {
        padding-left: 17px;
    }
    #experience_box .container-fluid .top_row {
        padding-top: 25px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 35px;
        padding-bottom: 15px;
    }

    #experience_box #garmin_title {
        padding-top: 20px;
    }
    #experience_box #consumers_title {
        padding-top: 55px;
    }    
}
@media (min-width: 1200px) {
    #experience_line {
        font-size: 85.4px;
    }
    /* Defining for specifically the work experience box */
    #experience_box .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
    #experience_box .container-fluid .row .exp_image_col {
        padding-right: 25px;
    }
    #experience_box .container-fluid .row .exp_text_col {
        padding-left: 25px;
    }
    #experience_box .container-fluid .top_row {
        padding-top: 25px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    #experience_box #garmin_title {
        padding-top: 43px;
    }
    #experience_box #consumers_title {
        padding-top: 90px;
    }
}


@media (min-width: 1400px) {
    #experience_line {
        font-size: 85.4px;
    }

    /* Defining for specifically the work experience page */
    #experience_box .container-fluid {
        padding-left: 80px;
        padding-right: 80px;
    }

    #experience_box .container-fluid .row .exp_image_col {
        padding-right: 35px;
    }
    #experience_box .container-fluid .row .exp_text_col {
        padding-left: 35px;
    }
    #experience_box .container-fluid .top_row {
        padding-top: 35px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    #experience_box #garmin_title {
        padding-top: 35px;
    }
    #experience_box #consumers_title {
        padding-top: 90px;
    }
}
