/*** Styling for Experience page ***/
#experience_line {
    font-size: 25px;
    padding-left: 3px;
}

.experience_image {
    width: 100%;
    overflow: hidden;
}

.experience_image_border {
    border-style: solid;
    border-width: 1.65vw;
    border-top: 0;
    border-color: #4c896f;
}

.experience_text {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.experience_text p{
    color: var(--white);
    padding-top: 70px;
}

#experience_box .container-fluid {
    padding-top: 20px;
}

#experience_box .container-fluid .row {
    align-items: center;
}

#experience_box .container-fluid .row .exp_image_col {
    background: #808080af;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2%;
}

.exp_text_col {
    margin-top: 20px;
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    #experience_line {
        font-size: 42px;
    }

    /* Defining for specifically the work experience box */
    .experience_image_border {
        border-width: 8.8px;
    }

    .exp_text_col {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) {
    #title_profile_wrapper {
        margin-bottom: -140px;
    }

    #title_wrapper {
        padding-top: 5px;
    }

    #experience_line {
        font-size: 65.1px;
    }

    /* Defining for specifically the work experience box */
    #experience_box .container-fluid .top_row {
        padding-top: 15px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .experience_image_border {
        border-width: 11.2px;
    }

    #experience_box #garmin_title {
        /* padding-top: 8px; */
    }
    #experience_box #consumers_title {
        /* padding-top: 30px; */
    }
}
@media (min-width: 992px) {
    #title_profile_wrapper {
        margin-bottom: -165px;
    }

    #experience_line {
        font-size: 79.5px;
    }

    /* Defining for specifically the work experience box */
    #experience_box .container-fluid {
        padding-left: 34px;
        padding-right: 34px;
    }
    #experience_box .container-fluid .row .exp_image_col {
        padding-right: 17px;
    }
    #experience_box .container-fluid .row .exp_text_col {
        padding-left: 17px;
    }
    #experience_box .container-fluid .top_row {
        padding-top: 25px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .experience_image_border {
        border-width: 7.9px;
    }

    #experience_box #garmin_title {
        padding-top: 5px;
    }
    #experience_box #consumers_title {
        padding-top: 30px;
    }
}
@media (min-width: 1200px) {
    #experience_line {
        font-size: 85.4px;
    }
    /* Defining for specifically the work experience box */
    #experience_box .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
    #experience_box .container-fluid .row .exp_image_col {
        padding-right: 25px;
    }
    #experience_box .container-fluid .row .exp_text_col {
        padding-left: 25px;
    }
    #experience_box .container-fluid .top_row {
        padding-top: 25px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .experience_image_border {
        border-width: 9.4px;
    }

    #experience_box #garmin_title {
        padding-top: 43px;
    }
    #experience_box #consumers_title {
        padding-top: 70px;
    }
}


@media (min-width: 1400px) {
    #experience_line {
        font-size: 85.4px;
    }

    /* Defining for specifically the work experience page */
    #experience_box .container-fluid {
        padding-left: 80px;
        padding-right: 80px;
    }

    #experience_box .container-fluid .row .exp_image_col {
        padding-right: 35px;
    }
    #experience_box .container-fluid .row .exp_text_col {
        padding-left: 35px;
    }
    #experience_box .container-fluid .top_row {
        padding-top: 35px;
    }
    #experience_box .container-fluid .bottom_row {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .experience_image_border {
        border-width: 9.6px;
    }

    #experience_box #garmin_title {
        padding-top: 35px;
    }
    #experience_box #consumers_title {
        padding-top: 90px;
    }
}
