/*** General Assets ***/
@font-face {
    font-family:"FranklinGothicBookDwnld";
    src: url("../Fonts/Franklin_Gothic_Book/franklin_gothic_book_regular.woff");
    src: url("../Fonts/Franklin_Gothic_Book/franklin_gothic_book_regular.woff2")
}

:root {
    --primaryGreen: #4c8971;
    --secondaryGreen: #8fa89e;
    --headingYellow: #ab9155;
    --selectYellow: #f7ce6f;
    --white: #FFFFFF;
    --black: #000000;
    --facebookBlue: #4267B2;
    --instagramPink: #f00075; /* (official Wordpress coloring) Source: https://wordpress.com/support/wordpress-editor/blocks/social-icons-block/ */
    --linkedinBlue: #0072b1;
    --githubBlack: #171515;
}

/* Defining color themes */
.light-theme {
    --bg: var(--white);
    --subtitleFontColor: var(--black);
    --fontColor: var(--white);

    --btnFontColor: var(--white);
    --btnBg: var(--black);
    padding-left: 0px;
    padding-right: 0px;
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);

    --btnFontColor: var(--green);
    --btnBg: var(--white);
}

/* Defining body attributes */
body {
    background: var(--bg);
    color: var(--subtitleFontColor);
    font-family: FranklinGothicBookDwnld, Arial, Helvetica, sans-serif;
}

/* Defining navigation bar attributes */
#page_wrapper {
    position: relative;
    padding-top: 50px;
    margin-right: 0px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    display: none;
}

#page_wrapper nav .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    position: relative;
    right: 0px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 66%;
    max-width: 600px;
    margin-bottom: 16px;
}

header-component ul li a {
    color: var(--headingYellow);
    text-decoration: none;
    font-size: 20px;
}

header-component nav ul li a {
    font-size: 22px;
}

nav li a:hover {
    color: var(--primaryGreen);
}

.curr_page {
    color: var(--selectYellow)
}

/* Defining header line w/ selected line */
#header_line {
    position: static;
    width: 100%;
    height: auto;
    background: var(--primaryGreen);
    display: none;
}

#header_line nav {
    height: 7px;
    width: 100%;
}

#header_line nav ul {
    margin-bottom: 0;
    height: 7px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 66%;
    max-width: 600px;
    padding-left: 0px;
}

#header_line nav ul li div {
    height: 7px;
    background: var(--primaryGreen);
    padding-left: 0%;
}

#header_line nav ul li .home {
    width: 54.916px;
}

#header_line nav ul li .experience {
    width: 101.933px;
}

#header_line nav ul li .portfolio {
    width: 77.233px;
}

#header_line nav ul li .about {
    width: 53.55px;
}

#header_line nav ul li .contact {
    width: 71.5px;
    padding-right: 0;
}


#header_line nav ul li .selected {
    background: var(--selectYellow);
    display: none;
}

/* Defining hamburger menu attributes */
#mobile-menu-container {
    position: relative;
    height: fit-content;
    z-index: 1;
}

#hamburger-icon-wrapper {
    cursor: pointer;
}

#hamburger-icon {
    width: fit-content;
    display: block;
    position: relative;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: .3s;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#mobile-menu-box {
    padding: 10px 0px;
    margin-bottom: 60px;
    top: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: rgb(205, 202, 202);
    /* background-color: var(--secondaryGreen); */
    border-top: 2.5px solid var(--primaryGreen);
    border-bottom: 2.5px solid var(--primaryGreen);
    /* border-radius: 20px; */
    display: none;
}

#mobile-menu-box.open {
    display: block;
}

#mobile-menu-box .container {
    position: relative;
    z-index: 1;
}


.open .bar1 {
    -webkit-transform: rotate(-45deg); /*translate(-6px, 6px);*/
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg); /* translate(-6px, -6px);*/
    transform: rotate(45deg) translate(-6px, -6px);
}

/* 
Example from here
https://www.w3schools.com/howto/howto_js_sidenav.asp
 */
#mobile-menu {
    display: none;
    position: relative;
    left: 0;
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
}

.open #mobile-menu {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
}

#mobile-menu li {
    text-decoration: none;
    text-align: center;
    /* border-bottom: .5px solid #d9d4d4; Adjust the color and style as needed */
    padding-bottom: 5px;
    color: #818181;
    display: block;
}

#mobile-menu li a {
    font-size: 23px;
    text-align: center;
    /* color: ; */
}

#mobile-menu li a.curr_page {
    font-size: 23px;
    text-align: center;
    color: var(--primaryGreen);
}

#title_profile_container {
    top: 10px;
    position: relative;
    margin-bottom: -35px;
}

#title_profile_wrapper {
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

/* Defining title text attributes */
#title_wrapper {
    position: relative;
    z-index: 2;
}

.title_text {
    color: var(--primaryGreen);
}

.title_text p {
    margin-bottom: 0px;
}

.subheader_text {
    color: var(--headingYellow);
}

/* Defining the picture attributes */
#profile_box_wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    /* top: 10px; */
    z-index: 2;
}

#profile_container {
    right: 0px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid var(--primaryGreen) 1.75px;
    width: 120px;
    height: 120px;
}

#profile_container img {
    width: 100%;
    height: 100%;
}

.list {
    list-style: square;
}

.theme-switch {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

/* Defining the content box attributes */
.content_box {
    display: grid;
    margin-top: 30px;
    background-color: var(--secondaryGreen);
    width: 100%;
    border-radius: 30px;
}

.page_content {
    padding-bottom: 30px;
}

.content_box h1 {
    color: white;
}

.content_box p {
    font-size: 19px;
    color: var(--white);
}

#social_media_box div {
    border-radius: 15px;
    align-items: center;
}  

#social_media_box div div div {
    display: flex;
    justify-content: center;

}

#social_media_box div div div a {
    font-size: 40px;
}

#social_media_box div div div a.bi-facebook {
    color: var(--facebookBlue);
}

#social_media_box div div div a.bi-instagram {
    color: var(--instagramPink);
}  

#social_media_box div div div a.bi-linkedin {
    color: var(--linkedinBlue);
}  

#social_media_box div div div a.bi-github {
    color: var(--linkedinBlack);
}

#social_media_box div div div a.btn {
    color: white;
    font-size: 20px;
    line-height: 105%;
}
@media (max-width: 576px) {
    #social_media_box div div div a.btn {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 576px) {
    /* The manually defined Bootstrap container */
    .container-spacing {
        width: 540px;
    }

    /* Defining the font sizes for the content box */
    .content_box h1 {
        font-size: 30px;
        color: var(--white);
    }
    .content_box p {
        font-size: 20px;
        color: var(--white);
    }

    /* Profile container sizing per resolution */
    #profile_container {
        width: 135px;
        height: 135px;
    }

    #mobile-menu-box {
        margin-bottom: 60px;
        top: 30px;
    }    

    /* Social media box sizing per resolution */
    #social_media_box div div div a {
        font-size: 50px;
    }
    
    #social_media_box div div div a.btn {
    font-size: 23px;
    line-height: 105%;
    }
    
}
@media (min-width: 768px) {
    #title_profile_wrapper {
        flex-direction: row-reverse;
        align-items: normal;
    }

    #title_wrapper {
        top: 20px;
        right: 0px;
    }

    #profile_box_wrapper {
        top: -25px;
    }

    /* The manually defined Bootstrap container */
    .container-spacing {
        width: 720px;
    }

    .content_box .header {
        padding-left: 70px;
        padding-top: 10px;
        margin-bottom: 0px;
        font-size: 35px;
    }

    #page_wrapper {
        display: block;
    }

    #hamburger-icon-wrapper {
        display: none;
    }

    #hamburger-icon {
        display: none;
    }

    #header_line {
        display: block;
    }

    #mobile-menu-box {
        display: none;
    }

    #title_profile_container {
        top: -50px;
    }    
    
    /* Defining the font sizes for the content box */
    .content_box h1 {
        font-size: 32px;
        color: var(--white);
    }
    .content_box p {
        font-size: 26px;
        color: var(--white);
        margin-bottom: 7px;
    }    

    /* Profile container sizing per resolution */
    #profile_container {
        top: -10px;
        left: 0px;
        width: 180px;
        height: 180px;
    }

    /* Social media box sizing per resolution */
    #social_media_box div div div a {
        font-size: 60px;
    }
    #social_media_box div div div a.btn {
        font-size: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
    }    
}
@media (min-width: 992px) {
    /* The manually defined Bootstrap container */
    .container-spacing {
        width: 960px;
    }

    /* Defining the title and subtitle size for different resolutions */
    nav ul {
        width: 60%;
    }
    #header_line nav ul {
        width: 60%;
    }

    /* Defining the font sizes for the content box */
    .content_box h1 {
        font-size: 39px;
        color: var(--white);
    }
    .content_box p {
        font-size: 22px;
        color: var(--white);
    }

    /* Profile container sizing per resolution */
    #profile_container {
        width: 220px;
        height: 220px;
    }

    /* Social media box sizing per resolution */
    #social_media_box div div div a {
        font-size: 70px;
    }
    #social_media_box div div div a.btn {
        font-size: 35px;
    }    

}
@media (min-width: 1200px) {
    /* The manually defined Bootstrap container */
    .container-spacing {
        width: 1140px;
    }


    /* Defining the font sizes for the content box */
    .content_box h1 {
        font-size: 43px;
        color: var(--white);
    }
    .content_box p {
        font-size: 23px;
        color: var(--white);
    }

    /* Profile container sizing per resolution */
    #profile_container {
        width: 230px;
        height: 230px;
    }

    /* Social media box sizing per resolution */
    #social_media_box div div div a {
        font-size: 90px;
    }
    #social_media_box div div div a.btn {
        font-size: 43px;
    }    
}


@media (min-width: 1400px) {

    /* Defining the font sizes for the content box */
    .content_box h1 {
        font-size: 48px;
        color: var(--white);
    }
    .content_box p {
        font-size: 26px;
        color: var(--white);
    }

    /* Social media box sizing per resolution */
    #social_media_box div div div a {
        font-size: 90px;
    }
    #social_media_box div div div a.btn {
        font-size: 43px;
    }        
}
