#portfolio_line {
    font-size: 26px;
    padding-left: 2px;
}

#portfolio_box .container {
    padding-top: 5px;
    padding-bottom: 15px;
}

#portfolio_box .portfolio_title {
    text-align: center;
}

#portfolio_box .portfolio_image {
    border-radius: 35px;
    border: .20rem solid;
    border-color: #4c8970;
    margin-bottom: 1%;
    width: 100%;
    object-fit: cover;
}

#portfolio_box .double_image_wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

#portfolio_box .portfolio_image_l {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: .10rem solid;
    width: 50%;
    padding: 0px;
}

#portfolio_box .portfolio_image_r {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: .10rem solid;
    width: 50%;
    padding: 0px;
}

#portfolio_box .col-md-6 {
    margin-top: 15px;
}


@media (min-width: 576px) {
    #portfolio_line {
        font-size: 42px;
    }

    /* Defining for specifically the project portfolio box */
    #portfolio_box .container {
        padding-top: 5px;
    }

    #portfolio_box .portfolio_image {
        border: .30rem solid;
        border-color: #4c8970;
    }

    #portfolio_box .portfolio_image_l {
        border-right: .15rem solid;
        border-color: #4c8970;
    }
    
    #portfolio_box .portfolio_image_r {
        border-left: .15rem solid;
        border-color: #4c8970;
    }

    #portfolio_box .col-md-6 {
        margin-top: 20px;
    }    
}
@media (min-width: 768px) {
    #title_profile_wrapper {
        margin-bottom: -155px;
    }

    #portfolio_line {
        font-size: 69.2px;
    }

    #portfolio_box .container {
        padding-top: 20px;
    }

    /* Defining for specifically the project portfolio box */
    #portfolio_box .portfolio_image {
        border: .10rem solid;
        border-color: #4c8970;
        height: 225px;
    }

    #portfolio_box .portfolio_image_l {
        border-right: .05rem solid;
        border-color: #4c8970;
    }
    
    #portfolio_box .portfolio_image_r {
        border-left: .05rem solid;
        border-color: #4c8970;
    }    

    #portfolio_box .container .following_row {
        padding-top: 14px;
    }
}
@media (min-width: 992px) {
    #portfolio_line {
        font-size: 84.9px;
    }

    /* Defining for specifically the project portfolio box */
    #portfolio_box .portfolio_image {
        border: .2rem solid;
        border-color: #4c8970;
        height: 300px;
    }

    #portfolio_box .portfolio_image_l {
        border-right: .1rem solid;
        border-color: #4c8970;
    }
    
    #portfolio_box .portfolio_image_r {
        border-left: .1rem solid;
        border-color: #4c8970;
    }    


    #portfolio_box .container {
        padding-top: 35px;
        padding-left: 34px;
        padding-right: 34px;
    }
    #portfolio_box .container .following_row {
        padding-top: 18px;
    }
}
@media (min-width: 1200px) {
    #portfolio_line {
        font-size: 90.5px;
    }

    /* Defining for specifically the project portfolio box */
    #portfolio_box .portfolio_image {
        border: .3rem solid;
        border-color: #4c8970;
        height: 350px;
    }

    #portfolio_box .portfolio_image_l {
        border-right: .15rem solid;
        border-color: #4c8970;
    }
    
    #portfolio_box .portfolio_image_r {
        border-left: .15rem solid;
        border-color: #4c8970;
    }    


    #portfolio_box .container {
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #portfolio_box .container .following_row {
        padding-top: 20px;
    }
}


@media (min-width: 1400px) {
    #portfolio_line {
        font-size: 90.5px;
    }

    /* Defining for specifically the project portfolio box */
    #portfolio_box .portfolio_image {
        border: .4rem solid;
        border-color: #4c8970;
        height: 400px;
    }

    #portfolio_box .portfolio_image_l {
        border-right: .2rem solid;
        border-color: #4c8970;
    }
    
    #portfolio_box .portfolio_image_r {
        border-left: .2rem solid;
        border-color: #4c8970;
    }    

    #portfolio_box .container {
        padding-top: 50px;
        padding-left: 80px;
        padding-right: 80px;
    }


    #portfolio_box .container .following_row {
        padding-top: 30px;
    }
}
